@media(max-width: 1024px){

    .header .header_nav_bar{
        max-width: 1000px;
        width: 100%;
        margin: 57px auto 5 auto;
        display: flex;
        justify-content: space-between;
    }

    .header .main_header .icon img{
        width: 445px;
        height: 348px;
    }

    .text p{
        margin-left: 70px;
    }

    .spisok{
        margin-left: -30px;
        width: 1140px;
    }

    .spisok div{
        width: 300px;
        height: 300px;
    }

    .spisok2{
        margin-left: 43px;
        width: 1140px;
    }

    .spisok2 div{
        width: 300px;
        height: 300px;

    }

    .body1 .button{
        margin-left: 440px;
    }

    .element2{
        margin-left: -200px;
        margin-top: 20px;
    }

    .body2{
        width: 900px;
        margin-left: 60px;
    }
     
    .niz .logo2 img{
        margin-left: -50px;
    }

    .niz .text2{
        margin-left:-30px;
    }

    .body3{
        margin-left: 30px;
    }

    .body3 .icon1 img{
        width: 435px;
        height: 360px;
    }

    .text_body4{
        width: 420px;
        height: 375px;
        margin-left: 70px;
    }

    .body4 .fon img{
        width: 435px;
        height: 360px;
    }

    .main_footer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .stol1{
        width: 210px;
        height: 201px;
        margin-left: 55px;
    }

    .stol2{
        width: 120px;
        margin-top: 10px;
        margin-left: 100px;
    }
    
    .stol3{
        width: 120px;
        margin-top: 10px;
        margin-left: 100px;
    }

    .stol4{
        width: 120px;
        margin-top: 10px;
        margin-left: 100px;
    }

    .element7{
        margin-left: 890px;
        margin-top: 190px;
    }

    .element8{
        margin-left: -55px;
    }
    

}

@media(max-width: 768px){

    .header .header_nav_bar{
        width: 85%;
    }

    .menu .nav_toggle{
        display: inline-block;
    }

    .header_nav_bar .menu ul{
        display: none;
    }

    #nav_toggle:checked ~ ul{
        display: flex;
        flex-direction: column;
    }
    
    .header .menu ul{
        position: fixed;
        justify-content:left;
        top: 0;
        left: 0;
        background: #458FF6;
        opacity: .97;
        width: 300px;
        padding: 5%;
        height: 100%;
    }

    .menu li{
        width: 50%;
        margin-bottom: 25px;
    }

    .header .menu ul  li a{
        text-decoration: none;
        color: #0f0a19;
        opacity: .7;
    }

    .header_nav_bar .menu{
        width: 100px;
    }

    .header .main_header{
        max-width: 1200px;
        width: 100%;
        margin-left: 90px;

    }
    .header .main_header * {
        z-index: -1;
    }

    .header .main_header h1{
        margin-top: -90px;
        font-size: 33px;
    }

    .header .main_header p {
        font-size: 15px;
    }

    .header .main_header .main_buttns{
        Width:150px;
        Height:36px;
    }
    
    .header .main_header .main_buttns a {
        font-size: 15px;
        line-height: 37px;
    }

    .header .main_header .icon{
        width: 796px;
        height: 448px;
        top: 100px;
        left: 300px;
        z-index: -1;
    }

    .header .main_header .icon img{
        width: 350px;
        height: 248px;
    }

    .text p{
        margin-left: 40px;
        width: 700px;
    }

    .body1{
        z-index: -1;
        height: 2800px;
    }

    .spisok{
        display: grid;
        margin-left: 55px;
        justify-content:center;
        width: 700px;
    }

    .spisok div{
        width: 350px;
        height: 354px;
        background: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.025);
        border-radius: 7%;
        margin-bottom: 20px;
    }

    .spisok2{
        display: grid;
        margin-left: 55px;
        justify-content:center;
        width: 700px;
    }

    .spisok2 div{
        width: 350px;
        height: 354px;
        background: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.032);
        border-radius: 7%;
        margin-bottom: 20px;
    }

    .body1 .button{
        margin-left: 290px;
    }

    .body2{
        display:block;
        width: 730px;
        height: 640px;
        margin-left: 17px;
    }

    .body2 h4{
        font-size: 30px;
        line-height: 40px;
        margin-top: 50px;

    }

    .element5{
        margin-top: -100px;
        margin-left: 650px;
        z-index: 0;
    }

    .niz{
        display: grid;
        justify-content: center;
    }

    .niz .text2{
        margin-left: 50px;
        text-align: center;
    }

    .body3{
        display: grid;
        justify-content: center;
    }

    .element6{
        margin-left: 620px;
    }

    .body4{
        display: grid;
        justify-content: center;
        height: auto;
    }

    .body4 .fon{
        margin-top: 100px;
    }

    .body4 .fon img{
        width: 450px;
        height: 348px;
    }

    .element7{
        margin-left: 630px;
    }
}

@media(max-width: 768px){

    .header .header_nav_bar .logo img{
        width: 120px;
        height: 30px;
    }

    .header .menu ul{
        width: 150px;
    }

    .menu li{
        width: 150px;
        margin-bottom: 25px;
    }
}